# Data Transformation I

Next, we will begin transforming our dataset by dropping values. Our primary goal of this process is to:

* drop rows with missing data
* drop select columns with overwhelmingly missing data

Utilize the documentation provided in each code-block. When you are done with this section of the project, validate that your output matches the screenshot provided in the `docs/part2.md` file.

In [24]:
import pandas as pd
import numpy as np

In [25]:
# TODO: load `data/raw/shopping.csv` as a pandas dataframe
df=pd.read_csv('C:/Users/deema/Desktop/Lab4/shopping-behavior/data/raw/shopping.csv')  


#Make a back up copy of the Original Data Frame
df_copy = df.copy()

In [26]:
# TODO: print out the shape of this dataframe for better clarity
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.shape.html

print(df.shape)

(3900, 15)

In [27]:
# TODO: display how many null values are in each column of this dataframe
# Documentation: https://datatofish.com/count-nan-pandas-dataframe/


df.isna().sum().sum()

5589

In [28]:
# TODO: it looks like there is roughly 65% of data missing "Frequency of Purchases". Drop this column, as it is mostly empty and unneeded for our analysis.
# In addition, also drop "Customer ID" as this column is also unnecessary
# Reassign this dropped dataframe as a new variable
# Documentation: drive.google.com/drive/folders/1pAWY1JqIQw26uhtT272AoDDeq7jtbkm2

#Drop columns "Frequency of Purchases" and "Customer ID" from the existing data frame


new_9df_SampleSz = df.drop(['Frequency of Purchases', 'Customer ID'], axis= 1)

In [29]:
# TODO: print out the shape of this dataframe and verify that the shape is "(3900, 13)"

print(new_9df_SampleSz.shape)

#print(df)

#DF SIZE is Verified at (3900, 13)

(3900, 13)

In [30]:
# TODO: while "Review Rating" is also mostly empty, we are interested in figuring out why some users
# leave reviews and others don't. 

# Therefore we will NOT drop this column. Instead, let's reassign new_8df_SampleSz
# all missing values in "Review Rating" with "Missing", and all non-na values as "Present"
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.replace.html

#Reassign all Missing Values to "Missing" and 
#all NAN values as "Present"


new_9df_SampleSz['Review Rating'] = new_9df_SampleSz['Review Rating'].where(new_9df_SampleSz['Review Rating'].isna(), 'Present')

new_9df_SampleSz['Review Rating'].fillna('Missing')

0       Present
1       Present
2       Present
3       Missing
4       Missing
         ...
3895    Missing
3896    Present
3897    Missing
3898    Missing
3899    Present
Name: Review Rating, Length: 3900, dtype: object

In [31]:
# TODO: Now that we've dropped and transformed our columns, drop the remaining rows that contain missing values
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.dropna.html
#Find null values. Found that "Location is the only other column

new_9df_SampleSz = df.dropna()
print(new_9df_SampleSz)

      Customer ID   Age  Gender Item Purchased  Purchase Amount (USD)  \
8            3353  25.0  Female         Jacket              31.595005
13           1722  32.0  Female        Handbag              34.151352
17           3638  45.0    Male        Handbag              23.929249
18           3738  34.0  Female  Running Shoes              33.052216
20           2586  35.0    Male         Hoodie              29.422895
...           ...   ...     ...            ...                    ...
1865         3547  35.0  Female         Shorts              36.611205
1867         2043  29.0    Male         Shorts              25.227779
1871         2388  27.0    Male       Backpack              34.595718
1876         2557  38.0    Male        T-shirt              35.622596
1878         2464  59.0    Male        Handbag              36.964494

         Location Size        Color  Season  Review Rating Shipping Type  \
8      Washington    M        Mauve    Fall            4.0      Standard
13       Delaware    S        White  Summer            4.0      Standard
17           Utah    L      Fuchsia  Spring            5.0      Standard
18       Kentucky    S      Fuchsia  Spring            5.0      Standard
20      Wisconsin    L  Terra cotta    Fall            4.0       Express
...           ...  ...          ...     ...            ...           ...
1865       Kansas    M        White  Summer            2.0       Express
1867      Alabama    M      Fuchsia  Spring            5.0  Next Day Air
1871    Tennessee    M     Ruby Red  Winter            4.0      Standard
1876      Montana   XL   Pale peach  Summer            4.0      Standard
1878  Mississippi   XL        White  Summer            5.0      Standard

     Promo Code Used  Previous Purchases Payment Method Frequency of Purchases
8                 No                   4    Credit Card              Quarterly
13                No                  11    Credit Card                Monthly
17                No                   3    Credit Card              Quarterly
18                No                   2    Credit Card              Quarterly
20                No                   2    Credit Card               Annually
...              ...                 ...            ...                    ...
1865              No                   2         PayPal              Quarterly
1867              No                   7         PayPal                Monthly
1871              No                   3         PayPal              Quarterly
1876              No                   5         PayPal              Quarterly
1878              No                   3         PayPal               Annually

[479 rows x 15 columns]

In [32]:
# TODO: display how many null values are in each column of this dataframe
# validate that each column has no missing values

print(new_8df_SampleSz.isna().sum())

Customer ID               0
Age                       0
Gender                    0
Item Purchased            0
Purchase Amount (USD)     0
Location                  0
Size                      0
Color                     0
Season                    0
Review Rating             0
Shipping Type             0
Promo Code Used           0
Previous Purchases        0
Payment Method            0
Frequency of Purchases    0
dtype: int64

In [33]:
# TODO: print out the shape of this dataframe and verify that the shape is "(3158, 13)"

print(new_9df_SampleSz)

      Customer ID   Age  Gender Item Purchased  Purchase Amount (USD)  \
8            3353  25.0  Female         Jacket              31.595005
13           1722  32.0  Female        Handbag              34.151352
17           3638  45.0    Male        Handbag              23.929249
18           3738  34.0  Female  Running Shoes              33.052216
20           2586  35.0    Male         Hoodie              29.422895
...           ...   ...     ...            ...                    ...
1865         3547  35.0  Female         Shorts              36.611205
1867         2043  29.0    Male         Shorts              25.227779
1871         2388  27.0    Male       Backpack              34.595718
1876         2557  38.0    Male        T-shirt              35.622596
1878         2464  59.0    Male        Handbag              36.964494

         Location Size        Color  Season  Review Rating Shipping Type  \
8      Washington    M        Mauve    Fall            4.0      Standard
13       Delaware    S        White  Summer            4.0      Standard
17           Utah    L      Fuchsia  Spring            5.0      Standard
18       Kentucky    S      Fuchsia  Spring            5.0      Standard
20      Wisconsin    L  Terra cotta    Fall            4.0       Express
...           ...  ...          ...     ...            ...           ...
1865       Kansas    M        White  Summer            2.0       Express
1867      Alabama    M      Fuchsia  Spring            5.0  Next Day Air
1871    Tennessee    M     Ruby Red  Winter            4.0      Standard
1876      Montana   XL   Pale peach  Summer            4.0      Standard
1878  Mississippi   XL        White  Summer            5.0      Standard

     Promo Code Used  Previous Purchases Payment Method Frequency of Purchases
8                 No                   4    Credit Card              Quarterly
13                No                  11    Credit Card                Monthly
17                No                   3    Credit Card              Quarterly
18                No                   2    Credit Card              Quarterly
20                No                   2    Credit Card               Annually
...              ...                 ...            ...                    ...
1865              No                   2         PayPal              Quarterly
1867              No                   7         PayPal                Monthly
1871              No                   3         PayPal              Quarterly
1876              No                   5         PayPal              Quarterly
1878              No                   3         PayPal               Annually

[479 rows x 15 columns]

In [34]:
# TODO: print out the first 5 rows of this dataframe for validation

print(new_8df_SampleSz.describe)

<bound method NDFrame.describe of       Customer ID   Age  Gender Item Purchased  Purchase Amount (USD)  \
8            3353  25.0  Female         Jacket              31.595005
13           1722  32.0  Female        Handbag              34.151352
17           3638  45.0    Male        Handbag              23.929249
18           3738  34.0  Female  Running Shoes              33.052216
20           2586  35.0    Male         Hoodie              29.422895
...           ...   ...     ...            ...                    ...
1865         3547  35.0  Female         Shorts              36.611205
1867         2043  29.0    Male         Shorts              25.227779
1871         2388  27.0    Male       Backpack              34.595718
1876         2557  38.0    Male        T-shirt              35.622596
1878         2464  59.0    Male        Handbag              36.964494

         Location Size        Color  Season  Review Rating Shipping Type  \
8      Washington    M        Mauve    Fall            4.0      Standard
13       Delaware    S        White  Summer            4.0      Standard
17           Utah    L      Fuchsia  Spring            5.0      Standard
18       Kentucky    S      Fuchsia  Spring            5.0      Standard
20      Wisconsin    L  Terra cotta    Fall            4.0       Express
...           ...  ...          ...     ...            ...           ...
1865       Kansas    M        White  Summer            2.0       Express
1867      Alabama    M      Fuchsia  Spring            5.0  Next Day Air
1871    Tennessee    M     Ruby Red  Winter            4.0      Standard
1876      Montana   XL   Pale peach  Summer            4.0      Standard
1878  Mississippi   XL        White  Summer            5.0      Standard

     Promo Code Used  Previous Purchases Payment Method Frequency of Purchases
8                 No                   4    Credit Card              Quarterly
13                No                  11    Credit Card                Monthly
17                No                   3    Credit Card              Quarterly
18                No                   2    Credit Card              Quarterly
20                No                   2    Credit Card               Annually
...              ...                 ...            ...                    ...
1865              No                   2         PayPal              Quarterly
1867              No                   7         PayPal                Monthly
1871              No                   3         PayPal              Quarterly
1876              No                   5         PayPal              Quarterly
1878              No                   3         PayPal               Annually

[479 rows x 15 columns]>

In [35]:
# TODO: write this newly transformed dataset to the `data/processed` folder. Name it "shopping_cleaned.csv" 
# Be sure to not include an additional index when writing this csv file
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_csv.html

#Need to check the Newly Created Data set  of <new_df_SampleSz> NEW NAME" "Shopping_Cleaned.CSV"

new_9df_SampleSz.to_csv('shopping_cleaned.csv', index=False)