# Data Transformation I

Next, we will begin transforming our dataset by dropping values. Our primary goal of this process is to:

* drop rows with missing data
* drop select columns with overwhelmingly missing data

Utilize the documentation provided in each code-block. When you are done with this section of the project, validate that your output matches the screenshot provided in the `docs/part2.md` file.

In [1]:
import pandas as pd
import numpy as np

In [2]:
# TODO: load `data/raw/shopping.csv` as a pandas dataframe
df=pd.read_csv('C:/Users/deema/Desktop/Lab4/shopping-behavior/data/raw/shopping.csv')

In [3]:
# TODO: print out the shape of this dataframe for better clarity
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.shape.html

print(df.shape)

(3900, 15)

In [4]:
# TODO: display how many null values are in each column of this dataframe
# Documentation: https://datatofish.com/count-nan-pandas-dataframe/

df.isna().sum().sum()
#print(df)

5589

In [5]:
# TODO: it looks like there is roughly 65% of data missing "Frequency of Purchases". Drop this column, as it is mostly empty and unneeded for our analysis.
# In addition, also drop "Customer ID" as this column is also unnecessary
# Reassign this dropped dataframe as a new variable
# Documentation: drive.google.com/drive/folders/1pAWY1JqIQw26uhtT272AoDDeq7jtbkm2

#Drop columns "Frequency of Purchases" and "Customer ID" from the existing data frame
df= df.drop(['Frequency of Purchases', 'Customer ID'], axis= 1)

new_df_SampleSz = df

In [6]:
# TODO: print out the shape of this dataframe and verify that the shape is "(3900, 13)"

print(new_df_SampleSz)
#DF SIZE is Verified at (3900, 13)

       Age  Gender Item Purchased  Purchase Amount (USD)      Location Size  \
0      NaN    Male         Jacket              30.904467         Maine    M
1     21.0  Female       Backpack              31.588259           NaN    L
2     31.0    Male       Leggings              24.231704        Nevada    M
3      NaN    Male        Pajamas              33.918834      Nebraska    M
4     38.0    Male     Sunglasses              36.545487        Oregon    S
...    ...     ...            ...                    ...           ...  ...
3895  43.0  Female     Sunglasses              61.610602      Colorado    S
3896  37.0    Male        Pajamas              44.600556        Alaska    S
3897   NaN  Female        Handbag              41.781965       Wyoming    M
3898  39.0    Male         Hoodie              45.343778      Illinois    S
3899  21.0  Female         Gloves              49.439181  North Dakota    M

             Color  Season  Review Rating   Shipping Type Promo Code Used  \
0     Burnt orange    Fall            4.0        Standard              No
1        Turquoise  Winter            2.0         Express              No
2      Terra cotta  Winter            4.0        Standard              No
3            Black  Winter            NaN        Standard              No
4        Aubergine  Summer            NaN        Standard              No
...            ...     ...            ...             ...             ...
3895  Burnt orange    Fall            NaN  2-Day Shipping             Yes
3896     Aubergine  Winter            4.0  2-Day Shipping             Yes
3897       Fuchsia  Summer            NaN        Standard             Yes
3898     Brick red    Fall            NaN  2-Day Shipping             Yes
3899     Aubergine  Winter            4.0  2-Day Shipping             Yes

      Previous Purchases Payment Method
0                      0    Credit Card
1                      1    Credit Card
2                      0    Credit Card
3                      2    Credit Card
4                      0    Credit Card
...                  ...            ...
3895                   7          Venmo
3896                  20          Venmo
3897                  13          Venmo
3898                   3          Venmo
3899                   2          Venmo

[3900 rows x 13 columns]

In [7]:
# TODO: while "Review Rating" is also mostly empty, we are interested in figuring out why some users
# leave reviews and others don't. 

# Therefore we will NOT drop this column. Instead, let's reassign 
# all missing values in "Review Rating" with "Missing", and all non-na values as "Present"
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.replace.html

#Reassign all Missing Values to "Missing" and all NAN values as "Present"

new_df_SampleSz = df.fillna('Present') 
print(new_df_SampleSz)

          Age  Gender Item Purchased  Purchase Amount (USD)      Location  \
0     Present    Male         Jacket              30.904467         Maine
1        21.0  Female       Backpack              31.588259       Present
2        31.0    Male       Leggings              24.231704        Nevada
3     Present    Male        Pajamas              33.918834      Nebraska
4        38.0    Male     Sunglasses              36.545487        Oregon
...       ...     ...            ...                    ...           ...
3895     43.0  Female     Sunglasses              61.610602      Colorado
3896     37.0    Male        Pajamas              44.600556        Alaska
3897  Present  Female        Handbag              41.781965       Wyoming
3898     39.0    Male         Hoodie              45.343778      Illinois
3899     21.0  Female         Gloves              49.439181  North Dakota

     Size         Color  Season Review Rating   Shipping Type Promo Code Used  \
0       M  Burnt orange    Fall           4.0        Standard              No
1       L     Turquoise  Winter           2.0         Express              No
2       M   Terra cotta  Winter           4.0        Standard              No
3       M         Black  Winter       Present        Standard              No
4       S     Aubergine  Summer       Present        Standard              No
...   ...           ...     ...           ...             ...             ...
3895    S  Burnt orange    Fall       Present  2-Day Shipping             Yes
3896    S     Aubergine  Winter           4.0  2-Day Shipping             Yes
3897    M       Fuchsia  Summer       Present        Standard             Yes
3898    S     Brick red    Fall       Present  2-Day Shipping             Yes
3899    M     Aubergine  Winter           4.0  2-Day Shipping             Yes

      Previous Purchases Payment Method
0                      0    Credit Card
1                      1    Credit Card
2                      0    Credit Card
3                      2    Credit Card
4                      0    Credit Card
...                  ...            ...
3895                   7          Venmo
3896                  20          Venmo
3897                  13          Venmo
3898                   3          Venmo
3899                   2          Venmo

[3900 rows x 13 columns]

In [8]:
# TODO: Now that we've dropped and transformed our columns, drop the remaining rows that contain missing values
# Documentation: https://pandas.pydata.org/docs/referen"ce/api/pandas.DataFrame.dropna.html
#Find null values. Found that "Location is the only other column

print(df.notna())

new_df_SampleSz = df.drop(['Previous Purchases','Location','Age','Review Rating'], axis= 1)
print(new_df_SampleSz)

        Age  Gender  Item Purchased  Purchase Amount (USD)  Location  Size  \
0     False    True            True                   True      True  True
1      True    True            True                   True     False  True
2      True    True            True                   True      True  True
3     False    True            True                   True      True  True
4      True    True            True                   True      True  True
...     ...     ...             ...                    ...       ...   ...
3895   True    True            True                   True      True  True
3896   True    True            True                   True      True  True
3897  False    True            True                   True      True  True
3898   True    True            True                   True      True  True
3899   True    True            True                   True      True  True

      Color  Season  Review Rating  Shipping Type  Promo Code Used  \
0      True    True           True           True             True
1      True    True           True           True             True
2      True    True           True           True             True
3      True    True          False           True             True
4      True    True          False           True             True
...     ...     ...            ...            ...              ...
3895   True    True          False           True             True
3896   True    True           True           True             True
3897   True    True          False           True             True
3898   True    True          False           True             True
3899   True    True           True           True             True

      Previous Purchases  Payment Method
0                   True            True
1                   True            True
2                   True            True
3                   True            True
4                   True            True
...                  ...             ...
3895                True            True
3896                True            True
3897                True            True
3898                True            True
3899                True            True

[3900 rows x 13 columns]
      Gender Item Purchased  Purchase Amount (USD) Size         Color  Season  \
0       Male         Jacket              30.904467    M  Burnt orange    Fall
1     Female       Backpack              31.588259    L     Turquoise  Winter
2       Male       Leggings              24.231704    M   Terra cotta  Winter
3       Male        Pajamas              33.918834    M         Black  Winter
4       Male     Sunglasses              36.545487    S     Aubergine  Summer
...      ...            ...                    ...  ...           ...     ...
3895  Female     Sunglasses              61.610602    S  Burnt orange    Fall
3896    Male        Pajamas              44.600556    S     Aubergine  Winter
3897  Female        Handbag              41.781965    M       Fuchsia  Summer
3898    Male         Hoodie              45.343778    S     Brick red    Fall
3899  Female         Gloves              49.439181    M     Aubergine  Winter

       Shipping Type Promo Code Used Payment Method
0           Standard              No    Credit Card
1            Express              No    Credit Card
2           Standard              No    Credit Card
3           Standard              No    Credit Card
4           Standard              No    Credit Card
...              ...             ...            ...
3895  2-Day Shipping             Yes          Venmo
3896  2-Day Shipping             Yes          Venmo
3897        Standard             Yes          Venmo
3898  2-Day Shipping             Yes          Venmo
3899  2-Day Shipping             Yes          Venmo

[3900 rows x 9 columns]

In [9]:
# TODO: display how many null values are in each column of this dataframe
# validate that each column has no missing values

#Verify that there are no missing values
print(new_df_SampleSz.notna())

      Gender  Item Purchased  Purchase Amount (USD)  Size  Color  Season  \
0       True            True                   True  True   True    True
1       True            True                   True  True   True    True
2       True            True                   True  True   True    True
3       True            True                   True  True   True    True
4       True            True                   True  True   True    True
...      ...             ...                    ...   ...    ...     ...
3895    True            True                   True  True   True    True
3896    True            True                   True  True   True    True
3897    True            True                   True  True   True    True
3898    True            True                   True  True   True    True
3899    True            True                   True  True   True    True

      Shipping Type  Promo Code Used  Payment Method
0              True             True            True
1              True             True            True
2              True             True            True
3              True             True            True
4              True             True            True
...             ...              ...             ...
3895           True             True            True
3896           True             True            True
3897           True             True            True
3898           True             True            True
3899           True             True            True

[3900 rows x 9 columns]

In [27]:
# TODO: print out the shape of this dataframe and verify that the shape is "(3158, 13)"
# Check this again.. dogon Not sure what I'm doing wrong...11-22-23 (3900, 9)
print(new_df_SampleSz.shape)

(3900, 9)

In [29]:
# TODO: print out the first 5 rows of this dataframe for validation

print(new_df_SampleSz.describe)

<bound method NDFrame.describe of       Gender Item Purchased  Purchase Amount (USD) Size         Color  Season  \
0       Male         Jacket              30.904467    M  Burnt orange    Fall
1     Female       Backpack              31.588259    L     Turquoise  Winter
2       Male       Leggings              24.231704    M   Terra cotta  Winter
3       Male        Pajamas              33.918834    M         Black  Winter
4       Male     Sunglasses              36.545487    S     Aubergine  Summer
...      ...            ...                    ...  ...           ...     ...
3895  Female     Sunglasses              61.610602    S  Burnt orange    Fall
3896    Male        Pajamas              44.600556    S     Aubergine  Winter
3897  Female        Handbag              41.781965    M       Fuchsia  Summer
3898    Male         Hoodie              45.343778    S     Brick red    Fall
3899  Female         Gloves              49.439181    M     Aubergine  Winter

       Shipping Type Promo Code Used Payment Method
0           Standard              No    Credit Card
1            Express              No    Credit Card
2           Standard              No    Credit Card
3           Standard              No    Credit Card
4           Standard              No    Credit Card
...              ...             ...            ...
3895  2-Day Shipping             Yes          Venmo
3896  2-Day Shipping             Yes          Venmo
3897        Standard             Yes          Venmo
3898  2-Day Shipping             Yes          Venmo
3899  2-Day Shipping             Yes          Venmo

[3900 rows x 9 columns]>

In [15]:
#Debugging to find out why rows are still remaining

#Save df to a csv file



#Original df
#df_backup = df.copy()

#Making a copy of the modified df
new_df_SampleSz = df.copy()

# Check if 'df_backup' exists
if 'new_df_SampleSz' in locals():
    print("Backup DataFrame 'new_df_SampleSz' exists.")
else:
    print("Backup DataFrame 'new_df_SampleSz' does not exist.")

Backup DataFrame 'new_df_SampleSz' exists.

In [17]:
# TODO: write this newly transformed dataset to the `data/processed` folder. Name it "shopping_cleaned.csv" 
# Be sure to not include an additional index when writing this csv file
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_csv.html

#Need to check the Newly Created Data set  of <new_df_SampleSz> NEW NAME" "Shopping_Cleaned.CSV"

new_df_SampleSz.to_csv('shopping_cleaned.csv', index=False)